@using TelephoneDirectory.Entities
@{ Admin c = Session["login"] as Admin;}
<link href="~/Content/NavCSS.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/style.css" rel="stylesheet" />
<style>
    body {
        background: url(/Images/msj-bg.jpg) no-repeat center center fixed
    }
</style>

<div class="container-fluid">
    <!-- Second navbar for profile settings -->
    <nav class="navbar navbar-inverse">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-4">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/Home/ListEmployee/"><span class="glyphicon glyphicon-phone-alt"></span> Telephone Directory</a>

            </div>


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-4">
                <ul class="nav navbar-nav navbar-right">
                    <li> <a href="/Home/ListEmployee/"><span class="glyphicon glyphicon-user"></span> Employees</a></li>

                    @if (Session["login"] != null)
                    {
                        <li><a href="/Home/ListDepartment/"><span class="glyphicon glyphicon-list"></span> Departments</a></li>
                        <li><a href="/Home/AddEmployee/"><span class="glyphicon glyphicon-plus"></span> Add Employee</a></li>
                        <li><a href="/Home/AddDepartment/"><span class="glyphicon glyphicon-briefcase"></span> Add Department</a></li>
                        <li><a href="/Home/LogOut/"><span class="glyphicon glyphicon-arrow-left"></span> Logout</a></li>
                    }
                    else
                    {

                        <li><a href="/Home/AdminRegister/"><span class="glyphicon glyphicon-plus-sign"></span> Admin Register</a></li>
                        <li><a href="/Home/AdminLogin/"><span class="glyphicon glyphicon-wrench"></span> Admin Login</a></li>
                    }
                    <li>
                        @if (Session["login"] != null)
                        {
                            <a class="btn btn-default btn-outline btn-circle collapsed" href="/Home/ShowAdminProfile/"> Admin @(c.Name + " " + c.Surname)<i class=""></i> </a>
                        }
                        else
                        {
                            <a class="btn btn-default btn-outline btn-circle collapsed" data-toggle="collapse" href="#nav-collapse4" aria-expanded="false" aria-controls="nav-collapse4"> Public <i class=""></i> </a>
                        }

                    </li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div> <!-- /.container -->
    </nav><!-- /.navbar -->
</div><!-- /.container-fluid -->
<div class="container">
    <div class="col-md-12">
        @RenderBody()
    </div>
</div>